# Core functionality - changes here should be rare!
/src/app.py                   @DavidLaraAragones
/src/backend/database.py      @DavidLaraAragones
/src/backend/routers/auth.py  @DavidLaraAragones

# The frontend will need refactored soon to be more object oriented.
/src/static/   @DavidLaraAragones
